[Desktop Entry]
Name=MoOS UI · Aurora
Comment=سليت نظيف بشفق تركوازي‑أزرق حديث | Clean slate with a modern teal-blue aurora
X-KDE-PluginInfo-Author=Moalfarras
X-KDE-PluginInfo-Name=MoOSUI2Aurora
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-ServiceTypes=KWin/Decoration
Type=Service
