[Desktop Entry]
Name=MoOS Amethyst
Comment=باذنجاني دافئ بلمسة أوركيد وكهرمان | Warm aubergine with orchid and amber
X-KDE-PluginInfo-Author=Moalfarras
X-KDE-PluginInfo-Name=MoOSUI2Amethyst
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-ServiceTypes=KWin/Decoration
Type=Service
