[Desktop Entry]
Name=MoOS UI · Midnight
Comment=أسود حقيقي عالي التباين لشاشات OLED | True-black high-contrast for OLED
X-KDE-PluginInfo-Author=Moalfarras
X-KDE-PluginInfo-Name=MoOSUI2Midnight
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-ServiceTypes=KWin/Decoration
Type=Service
