[Desktop Entry]
Name=MoOS Nova
Comment=Nova navy glass window decoration for MoOS
X-KDE-PluginInfo-Author=Moalfarras
X-KDE-PluginInfo-Name=MoOSNova
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-ServiceTypes=KWin/Decoration
Type=Service
