; MoOS Nova — based on SilentSDDM by uiriansan
; Upstream: https://github.com/uiriansan/SilentSDDM (GPL-3.0-or-later, see LICENSE)

[SddmGreeterTheme]
Name=MoOS Nova
Type=sddm-theme
Description=شاشة دخول Nova فاخرة لـ MoOS | Premium Nova login with Arabic input
License=GPL-3.0-or-later
Version=1.5.0-moos.2
Theme-Id=moos-nova
Theme-API=2.0
MainScript=Main.qml
Screenshot=backgrounds/nova-dark.png
QtVersion=6

ConfigFile=configs/moos-nova.conf
