[Unit]
Description=Publish ARM boot partition links before local mounts
Documentation=https://github.com/moalfarras-sys/moos-image
DefaultDependencies=no
ConditionArchitecture=arm64
ConditionPathExists=/run/ostree-booted
Requires=systemd-udevd.service
After=systemd-udevd.service systemd-udev-trigger.service
Before=local-fs-pre.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/moos-arm-block-coldplug
RemainAfterExit=yes

[Install]
WantedBy=local-fs-pre.target
