[Desktop Entry]
Type=Application
Name=Mo Remote
Name[ar]=تحكم Mo عن بعد
Comment=Control MoOS securely from your phone
Comment[ar]=تحكم بنظام MoOS بأمان من هاتفك
Exec=/usr/bin/moos-open moos://app/remote
Icon=mo-remote-personal
Terminal=false
Categories=Network;RemoteAccess;
