[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/vnd.appimage;application/x-iso9660-appimage;application/vnd.flatpak.ref;application/x-rpm;application/x-compressed-tar;application/x-xz-compressed-tar;application/x-bzip-compressed-tar;application/x-bzip2-compressed-tar;application/x-zstd-compressed-tar;application/x-tar;application/zip;
Actions=moosInstall
X-KDE-Priority=TopLevel

[Desktop Action moosInstall]
Name=Install in MoOS
Name[ar]=تثبيت في MoOS
Name[de]=In MoOS installieren
Icon=moos-store
Exec=moos-app-drop %f
